.PriceFormValidation {
    display: flex;
    width: 300px;
    height: 150px;
    background-color: crimson;
}
.InputPriceArea {
    margin-left: 140px;
    width: 100px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}
.PriceTitle {
    margin-top: 90px;
    color: aliceblue;
}
